  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #0d0d0d;
      color: #ffffff;
      scroll-behavior: smooth;
    }

  nav {
  width: 100%;
  padding: 20px 0;
  background: #0959fa2c;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: left;
  gap: 25px;
  border-radius: 15px;
}

nav a {
  color: #e8eee8;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: 0.2s;
}

nav a:hover {
  color: #0f1011;
  background-color: rgb(54, 208, 229);
  border-radius: 6px;
}

nav a:active {
  background-color: rgb(241, 217, 30);
  color: #121312;
}

    .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  height: 60vh;
  background: #0d0d0d;
  background-image: url(portfiloo\ web\ image.jpg);
  background-size: cover;
  background-position: center;
  animation: fadeIn 1.5s ease-in-out;
}

/* LEFT SIDE TEXT */
.hero-left h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(185, 210, 230);
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

/* RIGHT SIDE IMAGE */
.hero-right img {
  height: 600px;
  object-fit: cover;
  padding-top: 1cm;
  padding-bottom: 1.9cm;
  padding-left: 9cm;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .hero-right img {
    margin-top: 50;
    width: 200px;
    height: 200px;
  }
}


    .section {
      padding: 60px 20px;
      max-width: 1000px;
      margin: auto;
      animation: fadeIn 1.5s ease-in-out;
      color: #80ceeb;
      border-radius: 5cm;
    }
    .section h2 {
      font-size: 32px;
      margin-bottom: 20px;
      border-left: 5px solid #922121;
      padding-left: 10px;
      border-radius: 2cm;
    }

    .skills-list span {
      display: inline-block;
      background: #1f1f1f;
      padding: 10px 15px;
      border-radius: 8px;
      margin: 5px;
      font-size: 16px;
      border: 1px solid #333;
      transition: 0.3s;
    }
    .skills-list span:hover { transform: scale(1.1); background: #2d2d2d; }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
    .project-card {
      background: #1a1a1a;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #333;
      transition: 0.3s;
    }
    .project-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 15px #222;
    }

    .project-card img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .contact input, .contact textarea {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: none;
      background: #1a1a1a;
      color: white;
    }

    .contact button {
      padding: 12px 20px;
      background: #ffffff;
      color: #000;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }
    .contact button:hover { background: #dcdcdc; }

    .social-icons img {
      width: 35px;
      margin: 10px;
      transition: 0.3s;
    }
    .social-icons img:hover { transform: scale(1.2); }

    footer {
      text-align: center;
      padding: 20px;
      background: #111111;
      margin-top: 40px;
      color: #777;
    }
